.profileImg{
    width: 50%;
    border-radius: 15px;
    max-height: 100vh;
  }

  .userDetails{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
  }

  .userName{
    text-align: center;
  }
  